html {
  font-family: "Archivo Black", sans-serif;
  color: rgb(165, 134, 98);
}

body {
  background-color: rgb(9, 23, 63);
}

.zetta {
  position: relative;
  margin: 0;
}

.light {
  font-family: Sacramento, cursive;
  color: rgb(83, 86, 102);
  position: absolute;
  bottom: 16rem;
  left: 32rem;
}
