html {
  font-family: 'Archivo Black', sans-serif;;
  color: rgb(145, 132, 114);
}

body {
  background-color: rgb(17, 39, 99);
}

.light {
  font-family: 'Sacramento', cursive;
  color: rgb(107, 109, 121);
}
